{% extends 'base.html' %}

{% block content %}

  <h2> This is the todo view.</h2>

  <table>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Due</th>
    </tr>

    <form>
      {% csrf_token %}
      {% for task in task_list %}
        <tr>
          <td>{{task.name}}</td>
          <td>{{task.description}}</td>
          <td>{{task.due}}</td>
        </tr>
      {% endfor %}
    </form>
  </table>
  <a href="/../accounts/logout/">logout</a>

{% endblock %}
