<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <title>dToDo</title>
    <link rel="shortcut icon" href='/static/images/favicon.ico'/>
</head>

<body>
        {% block content %}This is the content area{% endblock %}
</body>
</html>
