{% extends 'base.html' %}

{% block content %}

  <form action="/accounts/auth/" method="post">
    {% csrf_token %}

    <label for="username">Username</label>
    <input type="text" name="username" value="" id="username">

    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password">

    <input type="submit" value="login"/>

  </form>

  <a href="/">Home</a>

{% endblock %}
