{% extends 'base.html' %}

{% block content %}

  <h2> You need to be logged in to see the Todo Page</h2>
  <p>Click <a href="/accounts/login">here</a> to login in, or <a href="/">here</a> to return home.</p>

{% endblock %}
