{% extends 'base.html' %}

{% block content %}

  <form action="/accounts/registration/" method="post">
    {% csrf_token %}

    <label for="username">Username</label>
    <input type="text" name="username" value="" id="username">

    <label for="email">Email</label>
    <input type="email" name="email" value="" id="email">

    <label for="password">Password</label>
    <input type="password" name="password" value="" id="password">

    <input type="submit" value="register">

  </form>

{% endblock %}
